$primary: rgb(193, 175, 225);
$secondary: rgba(193, 175, 225, 0.5);
$navBar: rgba(195, 187, 211, 0.5);
$body-bg: #f8f8ff;
$primary-font: "Urbanist", sans-serif;

// Navigation

.navBar {
  font-variant: all-small-caps;
  text-align: center;
  padding-top: 10px;
}

.navLinks,
.navBrand {
  font-variant: all-small-caps;
  text-align: center;
}

.navTitle {
  cursor: crosshair;
}

.navItem {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  border-top: 1px dotted rgb(176, 154, 214);
  padding: 0px 10px;
  transition: all 0.4s;
}

.navItem:hover {
  box-shadow: 0px -3px 5px -3px $navBar;
  border-color: $navBar;
  letter-spacing: 1px;
  padding: 0px 5px;
  transition: all 0.4s;
}

.navItem a {
  cursor: crosshair;
  padding: 2px;
}