$primary: rgb(175, 225, 175);
$secondary: rgba(143, 188, 143, 0.5);
$navBar: rgba(143, 188, 143, 0.2);
$body-bg: #f8f8ff;
$primary-font: "Urbanist", sans-serif;

// Navigation

.navBar {
  font-variant: all-small-caps;
  text-align: center;
  padding-right: 70px;
}

.navBrand {
  margin-top: -18px;
}

.navLinks,
.navBrand {
  font-variant: all-small-caps;
  text-align: center;
  margin-top: 30px;
}

.navTitle {
  font-family: "Silkscreen", sans-serif;
  font-size: 35px;
  cursor: crosshair;
}

.navItem {
  padding-right: 0px;
  margin-top: 7px;
  text-align: center;
}

.homeLink,
.aboutLink,
.projectLink,
.contactLink {
  font-family: "Silkscreen", sans-serif;
  padding: 0px 10px 4px 10px;
  font-size: 22px;
  border-radius: 20px;
  transition: all 0.5s;
}

.homeLink:hover,
.aboutLink:hover,
.projectLink:hover,
.contactLink:hover {
  border-radius: 10px;
  transition: all 0.5s;
  background-color: $navBar;
  cursor: crosshair;
}

.navList {
  text-align: center;
}