$primary: rgb(175, 225, 175);
$secondary: rgba(143, 188, 143, 0.5);
$navBar: rgba(143, 188, 143, 0.2);
$body-bg: #f8f8ff;
$primary-font: "Urbanist", sans-serif;

// about page

.tableTitle {
  background-color: $navBar;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-variant: all-small-caps;
  font-size: 27px;
  margin-bottom: 20px;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 1px dashed black;
}

.skillText {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  background-color: #b7c6b733;
  color: #000000;
  padding-bottom: 5px;
  border-radius: 0px 0px 10px 10px;
}

// RESPONSIVE

@media all and (max-width: 770px) {

  .skillText,
  .tableTitle {
    margin-left: 10px;
  }
}