$primary: rgb(175, 225, 175);
$secondary: rgba(143, 188, 143, 0.5);
$navBar: rgba(143, 188, 143, 0.2);
$body-bg: #f8f8ff;
$primary-font: "Urbanist", sans-serif;

// about page

.tableTitle {
  background-color: $navBar;
  font-family: $primary-font;
  text-align: center;
  font-variant: all-small-caps;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.skillText {
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  font-variant: all-small-caps;
}