$primary: rgb(175, 225, 175);
$secondary: rgba(143, 188, 143, 0.5);
$navBar: rgba(143, 188, 143, 0.2);
$body-bg: #f8f8ff;
$primary-font: "Urbanist", sans-serif;

@import '~bootstrap/scss/bootstrap.scss';

.introCard {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
  font-variant: all-small-caps;
  font-size: 18px;
}

.homeIntro {
  margin-left: 40px;
  display: inline-block;
}

.introText {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #50615aae;

}

.standout {
  color: black;
  font-size: 14px;
  font-variant: normal;

}

.portrait {
  margin-left: 10%;
  border-radius: 50%;
  border: 1px dotted #50615a;
}

.aboutPortrait {
  border-radius: 50% 50% 0% 0%;
  height: 300px;
  width: 290px;
}

.card {
  color: #50615a;
  padding: 25px 0px 50px 0px;
  border-radius: 20px;
  border: 1px solid #50615a;
  margin-top: 40px;
  box-shadow: 5px 5px 12px 2px #50615ab5;
}

.aboutTitle {
  font-family: $primary-font;
  font-variant: all-small-caps;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.aboutText {
  text-align: center;
  color: #000000;
  padding: 0px 30px;
  font-family: 'Courier New', Courier, monospace;
}

.cardTitle,
.featuredTitle {
  font-family: $primary-font;
  font-size: 40px;
  text-align: center;
  font-variant: all-small-caps;
}

.cardText {
  text-align: center;
}

.projectImage {
  border-radius: 10px;
  padding: 2px;
}

.projectBlurb {
  text-align: center;
  font-style: italic;
}

.currentProject {
  font-family: "Silkscreen", sans-serif;
  font-size: 40px;
  text-shadow: 4px 4px 5px rgba(80, 97, 90, 0.5);
  margin-top: 0px;
}

.primaryButton,
.primaryButton:hover {
  cursor: crosshair;
}

.primaryButton {
  background-color: $navBar;
  border: none;
  font-size: 15px;
  width: 100%;
  letter-spacing: 3px;
  font-variant: all-small-caps;
  border-radius: 10px;
  transition: all 0.9s;
}

.primaryButton:hover {
  background-color: $body-bg;
  letter-spacing: 5px;
  box-shadow: rgba(143, 188, 143, 0.5) 0px 0px 10px 2px;
  transition: all 0.9s;
}

.disabledButton {
  background-color: rgba(128, 128, 128, 0.1);
  padding-top: 7px;
  padding-bottom: 9px;
  font-size: 15px;
  text-align: center;
  font-style: italic;
  letter-spacing: 3px;
  font-variant: all-small-caps;
  border-radius: 10px;
  transition: all 0.9s;
  cursor: not-allowed;
}

.disabledButton:hover {
  letter-spacing: 5px;
  background-color: rgba(128, 128, 128, 0.3);
  transition: all 0.9s;
}

.formLabel {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-variant: all-small-caps;
}

.formInput {
  padding-top: 7px;
  width: 100%;
  font-style: italic;
  font-size: 13px;
}

// Footer

.footer {
  font-family: "Urbanist", sans-serif;
  font-variant: all-small-caps;
  text-align: center;
  min-width: 520px;
}

// responsive

@media all and (max-width: 767px) {
  .homeLink {
    margin-right: 50px;
  }

  .navLinks {
    margin-top: -30px;
    margin-left: 13px;
  }

  .navBrand {
    padding-top: 30px;
    padding-left: 40px;
  }

  .introText {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .card {
    padding: 50px 0px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #50615a59;
    min-width: 520px;
  }

  .portrait {
    margin-left: 12%;
    border-radius: 10px;
  }

  .aboutPortrait {
    margin-left: 23%;
    height: 280px;
    width: 280px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .homeLink {
    margin-right: 50px;
  }

  .navLinks {
    margin-top: -30px;
    margin-left: 15px;
  }

  .navBrand {
    padding-top: 30px;
  }

  .navBar {
    padding-right: 35px;
  }

  .introText {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .card {
    padding: 50px 0px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #50615a59;
  }

  .portrait {
    margin-left: 15%;
    border-radius: 10px;
  }

  .aboutPortrait {
    height: 280px;
    width: 300px;
  }

  .featuredProject {
    height: fit-content;
  }

  .featuredTitle {
    margin-top: 10px;
  }

  .featuredProjectImage {
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
  }
}

@media all and (min-width: 992px) and (max-width: 1197px) {

  .homeLink {
    margin-right: 50px;
  }

  .navBar {
    padding-right: 50px;
  }

  .introText {
    padding: 30px 5px 0px 110px;
  }

  .card {
    padding: 50px 0px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #50615a59;
  }

  .portrait {
    margin-left: 10%;
  }

  .featuredProject {
    height: 500px;
  }

  .featuredInfo {
    margin-right: 40px;
  }

  .featuredTitle {
    margin-top: 90px;
  }

  .featuredProjectImage {
    border-radius: 10px;
    margin-top: 10px;
    height: 401px;
    width: 100%;
  }
}

@media all and (min-width: 1198px) and (max-width: 1201px) {

  .introText {
    padding: 25px 5px 0px 110px;
  }

  .card {
    padding: 50px 0px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px #50615a59;
  }

  .featuredProject {
    height: 500px;
  }

  .featuredInfo {
    margin-right: 40px;
  }

  .featuredTitle {
    margin-top: 90px;
  }

  .featuredProjectImage {
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 40px;
    height: 410px;
    width: 87%;
  }
}

@media all and (min-width: 1202px) and (max-width: 1400px) {
  .homeLink {
    margin-right: 50px;
  }

  .introText {
    padding: 6% 0% 0% 20%;
  }

  .featuredProject {
    height: 550px;
  }

  .featuredInfo {
    margin-right: 10px;
  }

  .featuredTitle {
    margin-top: 90px;
  }

  .featuredProjectImage {
    border-radius: 10px;
    margin-top: 10px;
    height: 450px;
    width: 100%;
  }
}

@media all and (min-width: 1400px) {
  .homeLink {
    margin-right: 50px;
  }

  .introText {
    padding: 6% 0% 0% 10%;
  }

  .featuredProject {
    height: 550px;
  }

  .featuredInfo {
    margin-right: 50px;
  }

  .featuredTitle {
    margin-top: 90px;
  }

  .featuredProjectImage {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 45px;
    height: 450px;
    width: 85%;
  }
}